.card {
  flex-basis: calc((100% /5) - 16px);

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 3px;
  }

  &__info {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
  }
}
