.card {
  flex-basis: calc((100% / 1) - 16px);

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 3px;
  }

  &__info {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
  }
}

@media(min-width: 560px) {
  .card {
    flex-basis: calc((100% / 2) - 16px);
  }
}

@media(min-width: 760px) {
  .card {
    flex-basis: calc((100% / 3) - 16px);
  }
}

@media(min-width: 1120px) {
  .card {
    flex-basis: calc((100% / 4) - 16px);
  }
}

@media(min-width: 1200px) {
  .card {
    flex-basis: calc((100% / 5) - 16px);
  }
}
