.header {
  padding: 15px 5%;
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  align-items: center;

  &__logo {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__input {
    font-family: 'Roboto', sans-serif;
    padding: 5px 15px;
    border-radius: 3px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    
    &--reset {
      padding: 6px 15px;
      margin-bottom: 0;
      background: #db0f0f;
      color: #fff;
    }
  }

  &__select {
    font-family: 'Roboto', sans-serif;
    padding: 5px 15px;
    border-radius: 3px;
    border: 0;
    outline: 0;
    width: 175px;
    margin-bottom: 15px;
  }
}

@media(min-width: 760px) {
  .header {
    padding: 25px 5%;

    &__form {
      flex-direction: row;
    }

    &__input,
    &__select {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
}

@media(min-width: 1120px) {
  .header {
    flex-direction: row;

    &__logo {
      margin: 0;
    }
  }
}
