.header {
  padding: 15px 5%;
  background-color: #0f0f0f;
  display: flex;
  justify-content: space-between;

  &__logo {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }

  &__input {
    font-family: 'Roboto', sans-serif;
    padding: 5px 15px;
    margin-right: 15px;
    border-radius: 3px;
    border: 0;
    outline: 0;
  }

  &__select {
    font-family: 'Roboto', sans-serif;
    padding: 5px 15px;
    border-radius: 3px;
    border: 0;
    outline: 0;
    width: 150px;
  }
}
